pre {
	margin-bottom: 10px;
	padding: 10px;
	font-family: Inconsolata-dz, Inconsolata, Monaco, monospace;
	font-size: 12px;
	line-height: 1.3em;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
  width: 570px;
  border-radius: 5px;
	color: #E6E1C4;
	background-color: #372725;
  box-shadow: inset 0 0 10px #000;
}

pre .linenum {
	width: 75px;
	padding: 0.1em 1em 0.2em 0;
	color: #888;
	background-color: #eee;
}
pre.new_bop span {
   padding-top: 0.2em;
   padding-bottom: 0.1em;
}
pre.new_bop ::selection {
	background-color: #1E1C1C;
}
/* Comment */
pre.new_bop .comment {
	color: #6B4E32;
	font-style: italic;
}

/* Python Docstring */
pre.new_bop .string_quoted_double_block_python {
	color: #6B4E32;
	font-style: italic;
}

/* Constant */
pre.new_bop .constant {
	color: #6C99BB;
}

/* Entity */
pre.new_bop .entity {
	color: #EFAC32;
}

/* Keyword */
pre.new_bop .keyword {
	color: #EF5D32;
}

/* Storage */
pre.new_bop .storage {
	color: #EF5D32;
}

/* String */
pre.new_bop .string {
	color: #D9D762;
	font-style: italic;
}

/* Support */
pre.new_bop .support {
	color: #E6E1C4;
}

/* Variable */
pre.new_bop .variable {
	color: #7DAF9C;
}

/* Invalid – Deprecated */
pre.new_bop .invalid_deprecated {
	color: #CC4232;
	font-style: italic;
	text-decoration: underline;
}

/* Invalid – Illegal */
pre.new_bop .invalid_illegal {
	color: #E6E1C4;
	background-color: #CC4232;
}

/* ♦ String constant */
pre.new_bop .string .constant {
	color: #D9D762;
	font-style: italic;
}

/* ♦ String.regexp */
pre.new_bop .string_regexp {
	color: #8856D2;
}

/* ♦ String.regexp.«special» */
pre.new_bop .string_regexp .constant_character_escape, pre.new_bop .string_regexp .source_ruby_embedded, pre.new_bop .string_regexp .string_regexp_arbitrary-repitition {
	color: #BE73FD;
}

/* ♦ String variable */
pre.new_bop .string .variable {
	color: #8A9A95;
}

/* ♦ Support.function */
pre.new_bop .support_function {
	color: #EFAC32;
}

/* ♦ Support.constant */
pre.new_bop .support_constant {
	color: #6C99BB;
}

/* c C/C++ Preprocessor Line */
pre.new_bop .meta_preprocessor_c {
	color: #8996A8;
}

/* c C/C++ Preprocessor Directive */
pre.new_bop .meta_preprocessor_c .keyword {
	color: #AFC4DB;
}

/* ✘ Doctype/XML Processing */
pre.new_bop .meta_tag_sgml_doctype, pre.new_bop .meta_tag_sgml_doctype .entity, pre.new_bop .meta_tag_sgml_doctype .string, pre.new_bop .meta_tag_preprocessor_xml, pre.new_bop .meta_tag_preprocessor_xml .entity, pre.new_bop .meta_tag_preprocessor_xml .string {
	color: #86B4BB;
}

/* ✘ Meta.tag.«all» */
pre.new_bop .declaration_tag, pre.new_bop .declaration_tag .entity, pre.new_bop .meta_tag, pre.new_bop .meta_tag .entity {
	color: #86B4BB;
}

/* ⎇ diff.header */
pre.new_bop .meta_diff, pre.new_bop .meta_diff_header, pre.new_bop .meta_separator {
	color: #F8F8F8;
	font-style: italic;
	background-color: #0E2231;
}

/* ⎇ diff.deleted */
pre.new_bop .markup_deleted {
	color: #F8F8F8;
	background-color: #420E09;
}

/* ⎇ diff.changed */
pre.new_bop .markup_changed {
	color: #F8F8F8;
	background-color: #4A410D;
}

/* ⎇ diff.inserted */
pre.new_bop .markup_inserted {
	color: #F8F8F8;
	background-color: #253B22;
}

/* SASS @import */
pre.new_bop .keyword_control_at-rule_sass {
	color: #EF5D32;
}

/* SASS $variable */
pre.new_bop .variable_parameter {
	color: #7DAF9C;
}

/* SASS Attributes */
pre.new_bop .keyword_control_untitled, pre.new_bop .entity_other_attribute-name_class_sass, pre.new_bop .entity_other_attribute-name_id_sass, pre.new_bop .entity_other_attribute-name_tag_pseudo-class {
	color: #EFAC32;
}

/* SASS Properties */
pre.new_bop .support_type_property-name_sass {
	color: #E6E1C4;
}

/* SASS Values */
pre.new_bop .support_constant_property-value_sass {
	color: #C699BB;
}

/* CSS Attributes */
pre.new_bop .meta_selector_css .entity_name_tag, pre.new_bop .meta_selector_css .entity_other_attribute-name_class, pre.new_bop .meta_selector_css .entity_other_attribute-name_id {
	color: #EFAC32;
}

/* CSS Values */
pre.new_bop .meta_property-group .support_constant_property-value_css, pre.new_bop .meta_property-value .support_constant_property-value_css {
	color: #C699BB;
}

/* CSS Constants */
pre.new_bop .meta_property-value .support_constant_named-color_css, pre.new_bop .meta_property-value .constant {
	color: #6C99BB;
}
